/*
 * @section general classes
 */

.clearfix { display:inline-block; }
.clearfix:after { content:".";display:block;height:0;clear:both;visibility:hidden; }
* html .clearfix { height:1%; }
.clearfix { display:block; }

.left { float:left; }
.right { float:right; }
.hide { display:none; }

/*
 * @section html styles
 */

body {
  background: #eff6fe url(/images/cloud.png) 0 10px no-repeat;
  font-family: 'Droid Serif','Georgia';
  margin:10px;
  padding:0;
}

a {
  color: #f00;
}

h1 {
  color: #0a3c7e;
  font-family: "Lobster";
  font-size: 73px;
  text-shadow: #4e7dbc 1px 1px 1px;
}

h2, h3, h4, h5, h6, footer {
  color: #0a3c7e;
  font-family: "Lobster";  
  text-shadow: white 1px 1px 1px;
}

footer {
  margin-top: 50px;
  color:#2e5d9c;
}

.container {
  width:800px;
}

.col-1 {
  float: left;
  width: 590px;
  padding-right: 30px;
  border-right: 1px dotted #0a3c7e;
  margin-right: 30px;
}

.col-2 {
  float: left;
  width: 590px;
}

#dropbox {
  border: 10px solid #2e5d9c;
  background: #fff;
  width:200px;height:200px;
  padding: 10px 10px 10px 10px;
  line-height: 200px;
  text-align: center;
  margin-bottom: 10px;
}