<!DOCTYPE html>
<html>
<head>
  <title>Html5fileupload</title>
  <%= javascript_include_tag %w'jquery/jquery-1.4.2.min rails application ' %>
  <%= csrf_meta_tag %>
  <!--[if lt IE 9]>
    <script src="/javascripts/html5.js"></script>
  <![endif]-->
  
  <link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  
  <%= stylesheet_link_tag 'application' %>
  
</head>
<body>
<div class="container">
    <h1>Multiple Drag and Drop Fileupload with HTML5 and Rails3</h1>

    <%= yield %>
</div>

<a href="http://github.com/9elements/HTML5-Fileupload-with-Rails3"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub" /></a>
</body>
</html>
